.icon-cards-2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 40px auto 0;
  max-width: var(--max-width);

  .card {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 4px;
    text-align: center;
    color: var(--heading);
    flex-direction: column;
    background-color: transparent;

    &:first-child {
      background-color: var(--primary);
    }
    &:nth-child(2) {
      background-color: var(--secondary);
    }
    &:nth-child(3) {
      background-color: var(--tertiary);
    }

    .card-icon {
      margin: 0 auto;
      padding: 10px;
    }

    svg {
      width: 100px;
      margin: 0 auto;
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;
      
      .details-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 8px;

        .title {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.8rem;
          letter-spacing: 1px;
          color: var(--white);
          height: 58px;
          margin-bottom: 8px;
        }
      }


    }
  }

  @media (max-width: 1100px) and (min-width: 900px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (max-width: 900px) and (min-width: 700px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: 756px) {
    grid-template-columns: 1fr;
  }
}
