.contact-page {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  gap: 24px;
  padding: 148px 24px 0;

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 50%;
    
    .contact-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: var(--heading);

      p {
        font-size: 1rem;
      }

      .icon {
        width: 32px;
        margin-right: 10px;
      }

      .column {
        display: flex;
        gap: 4px;
  
        p, a {
          cursor: pointer;
          color: var(--heading);
          font-size: 1rem;
          font-weight: 600;
        }

      }
  
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;


    .contact-form-title {
      font-size: 2rem;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}